@import '~custom-theme.scss';
$primary: map-get($my-app-theme, primary);
$accent: map-get($my-app-theme, accent);
$warn: map-get($my-app-theme, warn);

.top-wrapper {
  padding-top: 10px;
  padding-bottom: 8px;
  height: 41px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}
.main-logo {
  color: mat-color($primary);
  font-family: "Syncopate";
  margin-left: 10px;
  font-size: 40px;
  position: relative;
  bottom: 27px;
}
.main-logo:hover {
  cursor: pointer;
}
.countdown-timer {
  margin-left: auto;
  margin-right: auto;
  display: inline;
  color: mat-color($primary);
  margin-top: 8px;
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  .countdown-content {
    display: none;
  }
}
.profile-container {
  float: right;
  margin-right: 60px;
  color: mat-color($primary);
  font-size: 20px;
}
.profile-username {
  position: absolute;
  top: 17px;
  right: 120px;
  font-size: 30px;
}
.profile-avatar {
  width: 50px;
  height: 50px;
  margin-top: -10px;
  background: no-repeat center/cover;
  border-radius: 50%;
  border: 1px solid black;
}
.home-menu-button {
  text-align: center;
}
.open-menu {
  float: right;
}
