<div class="top-wrapper">
  <a class="main-logo" routerLink="">Area 11</a>
  <div class="countdown-timer">
    <span class="countdown-content" *ngIf="countdownDate && countdownName">Countdown to {{ countdownName }}: {{ countdownDate }}</span>
  </div>
  <div class="profile-container">
    <span class="profile-username">{{ currentUser }}</span>
    <button mat-icon-button>
      <div [matMenuTriggerFor]="accountMenu" class="profile-avatar" [ngStyle]="{ 'background-image': 'url(' + userAvatar + '), url(http://s3.amazonaws.com/37assets/svn/765-default-avatar.png)'}"></div>
    </button>
  </div>
  <mat-menu [overlapTrigger]="false" #accountMenu="matMenu">
    <a class="home-menu-button" mat-menu-item routerLink="/timeline">
      <span>My Timeline</span>
    </a>
    <a class="home-menu-button" mat-menu-item routerLink="/group">
      <span>My Group</span>
    </a>
    <a class="home-menu-button" mat-menu-item routerLink="/settings">
      <span>Settings</span>
    </a>
    <button class="home-menu-button" mat-menu-item (click)="logout()">
      <span>Log Out</span>
    </button>
  </mat-menu>
</div>
