.top-wrapper {
  padding-top: 10px;
  padding-bottom: 8px;
  vertical-align: middle;
}
.main-logo {
  color: #800015;
  font-family: 'Syncopate';
  margin-left: 10px;
  display: inline;
  font-size: 40px;
}
.main-logo:hover {
  cursor: pointer;
}
.profile-container {
  float: right;
  margin-right: 60px;
  color: #800015;
  font-size: 20px;
}
.profile-username {
  position: absolute;
  top: 17px;
  right: 120px;
  font-size: 30px;
}
.profile-avatar {
  width: 50px;
  height: 50px;
  margin-top: -10px;
  background: no-repeat center/cover;
  border-radius: 50%;
  border: 1px solid black;
}
.home-menu-button {
  text-align: center;
}
.open-menu {
  float: right;
}
