<div class="top-wrapper">
  <h1 class="main-logo" routerLink="">Area 11</h1>
  <div class="profile-container">
    <span class="profile-username">{{ currentUser }}</span>
    <button mat-icon-button>
      <img [matMenuTriggerFor]="accountMenu" class="profile-avatar" [src]="avatar" (error)="loadDefaultImage($event.target)">
    </button>
  </div>
<mat-menu [overlapTrigger]="false" #accountMenu="matMenu">
  <a class="home-menu-button" mat-menu-item routerLink="/group">
    <span>My Group</span>
  </a>
  <a class="home-menu-button" mat-menu-item routerLink="/settings">
    <span>Settings</span>
  </a>
  <button class="home-menu-button" mat-menu-item (click)="logout()">
    <span>Logout</span>
  </button>
</mat-menu>
</div>

<div class="search-toolbar">
</div>
<div class="area11-group-toast" [ngClass]="{show: showToast, 'toast-error': toastError}">{{ toastMessage }}</div>
<mat-card class="group-container">
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="My Group">
        <div *ngIf="currentGroup['name']" class="group-settings-tab">
          <div class="group-profile">
            <img class="group-avatar" [src]="currentGroup['avatar']" (error)="loadDefaultImage($event.target)">
            <h3 class="group-name">{{ currentGroup['name'] }}</h3>
          </div>
          <div class="member-list-container">
            <div class="group-member" *ngFor="let groupMember of currentGroupMembers">
              <img class="group-member-avatar" [src]="groupMember['avatar']" (error)="loadDefaultImage($event.target)">
              <div class="group-member-name">
                <h2>{{ groupMember['username'] }}</h2>
                <button mat-raised-button color="accent" class="import-list" (click)="importCatalog(groupMember['username'])">Import Catalog</button>
              </div>
            </div>
          </div>

        </div>
      <div class="group-settings-tab" *ngIf="!currentGroup['name']">
        You're not currently in a group. Find or create one here!
        <div class="find-group">
          If you know a group's name, you can request to join it:
          <mat-form-field color="accent">
            <input matInput [(ngModel)]="joinGroupName" placeholder="Group Name">
          </mat-form-field>
          <button mat-raised-button color="accent" [disabled]="!joinGroupName" (click)="joinGroupRequest()">Send Request</button>
        </div>
        <div>
        <p>Or alternatively, create your own group!</p>
          <mat-form-field color="accent">
            <input matInput [(ngModel)]="newGroupName" placeholder="New Group Name">
          </mat-form-field>
          <mat-form-field color="accent">
            <input matInput [(ngModel)]="newGroupAvatar" placeholder="New Group Avatar (optional)">
          </mat-form-field>
          <button mat-raised-button color="accent" [disabled]="!newGroupName" (click)="createGroup()">Create Group</button>
        </div>
      </div>
      </mat-tab>
      <mat-tab ng label="Pending Requests">
        <div *ngIf="!currentGroup['name']" class="group-settings-tab">
          <div *ngIf="pendingGroupRequests.length">
            These groups have sent you invites to join: (Remember, you can only select one!)
          </div>
          <div *ngIf="!pendingGroupRequests.length">
            No groups have sent you requests to join them.
          </div>
        </div>
        <div *ngIf="currentGroup['name']" class="group-settings-tab">
          <div *ngIf="pendingUserRequests.length">
            These people are requesting membership to your group:
            <div class="group-member" *ngFor="let pendingUser of pendingUserRequests">
              <img class="group-member-avatar" [src]="pendingUser['avatar']" (error)="loadDefaultImage($event.target)">
              <div class="group-member-name">
                <h2>{{ pendingUser['username'] }}</h2>
                <button mat-raised-button color="accent" class="import-list" (click)="acceptUserRequest(pendingUser.username)">Accept</button>
              </div>
            </div>
          </div>
          <div *ngIf="!pendingUserRequests.length">
            No users have requested to join your group.
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Group Settings">
        <div class="group-settings-tab" *ngIf="currentGroup['name']">
          <button mat-raised-button color="warn" (click)="disbandGroup()">Disband Group</button>
          <br><br>
          More group features and settings will be available in future updates!
        </div>
        <div class="group-settings-tab" *ngIf="!currentGroup['name']">
          Create or join a group to view special group features and settings!
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
