.area11-group-toast {
  display: none;
  background-color: #3d85c6;
  color: #fff;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-width: 2px;
  text-align: center;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  height: 20px !important;
  z-index: 1;
  font-size: 14px;
}
.toast-error {
  background-color: #ff5722;
}

.area11-group-toast.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 10px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 10px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.search-toolbar {
  width: 100%;
  color: #f0f0f0;
  vertical-align: middle;
  background-color: #800015;
  border: 1px solid #330000;
  border-width: 2px;
  height: 40px;
  line-height: 40px;
  text-shadow: 1px 1px 0 #444;
}
.home-button {
  border-radius: 50px;
  height: 20px;
  color: black;
  line-height: 20px;
  margin-left: 60px;
}
.group-container {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  min-height: 400px;
}
.group-settings-tab {
  margin-top: 20px;
  width: 100%;
}
.group-profile {
  width: 50%;
  color: #800015;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.group-avatar {
  width: 25%;
  border-radius: 50%;
}
.group-name {
  margin-top: -10px;
}
.member-list-container {
  margin-bottom: 20px;
}
.group-member {
  width: 100%;
  height: 100px;
  margin: 20px;
}
.group-member-avatar {
  height: 100px;
  width: 100px;
  background: no-repeat center/cover;
  border-radius: 50%;
  float: left;
  display: block;
  border: 1px solid black;
}
.group-member-name {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}
.import-list {
  border-radius: 50%;
  height: 30px;
  line-height: 30px;
}
