<app-header [refreshHeader]="refreshHeader"></app-header>
<div class="search-toolbar">
  <button mat-raised-button class="home-button" routerLink="/">Back to Home</button>
  <button *ngIf="currentGroup['name']" mat-raised-button class="toptens-button" routerLink="toptens">Top Tens</button>
</div>
<div class="area11-group-toast" [ngClass]="{show: showToast, 'toast-error': toastError}">{{ toastMessage }}</div>
<mat-card class="group-container" *ngIf="!isLoading">
  <mat-card-content>
    <mat-tab-group>
      <!-- Info about current group members -->
      <mat-tab label="My Group">
        <div *ngIf="currentGroup['name']" class="group-settings-tab">
          <div class="group-profile">
            <div class="group-avatar" [ngStyle]="{ 'background-image': 'url(' + currentGroupAvatar + '), url(http://s3.amazonaws.com/37assets/svn/765-default-avatar.png)'}"></div>
            <h3 class="group-name">{{ currentGroup['name'] }}</h3>
          </div>
          <div class="member-list-container-left">
            <div class="group-member" *ngFor="let groupMember of currentGroupMembersCol1">
              <div class="group-member-avatar" [ngStyle]="{ 'background-image': 'url(/' + groupMember['id'] + '), url(http://s3.amazonaws.com/37assets/svn/765-default-avatar.png)'}"></div>
              <div class="group-member-name-container">
                <h2 class="group-member-name">{{ groupMember['username'] }}</h2>
                <p class="group-member-bestgirl" title="Best girl: {{ groupMember['bestgirl'] }}">Best girl: {{ groupMember['bestgirl'] }}</p>
                <p class="group-member-current-show" title="Watching: {{ groupMember['currentlyWatching'] }}">Watching: {{ groupMember['currentlyWatching'] }}</p>
                <button class="import-or-leave-button" *ngIf="groupMember['username'] != currentUser" mat-raised-button color="accent" (click)="importAnime(groupMember['username'], groupMember['id'])">Import Anime</button>
                <button class="import-or-leave-button" *ngIf="groupMember['username'] == currentUser" mat-raised-button color="warn" (click)="leaveGroup()">Leave Group</button>
              </div>
            </div>
          </div>
          <div class="member-list-container-right">
            <div class="group-member" *ngFor="let groupMember of currentGroupMembersCol2">
              <div class="group-member-avatar" [ngStyle]="{ 'background-image': 'url(/' + groupMember['id'] + '), url(http://s3.amazonaws.com/37assets/svn/765-default-avatar.png)'}"></div>
              <div class="group-member-name-container">
                <h2 class="group-member-name">{{ groupMember['username'] }}</h2>
                <p class="group-member-bestgirl" title="Best girl: {{ groupMember['bestgirl'] }}">Best girl: {{ groupMember['bestgirl'] }}</p>
                <p class="group-member-current-show" title="Watching: {{ groupMember['currentlyWatching'] }}">Watching: {{ groupMember['currentlyWatching'] }}</p>
                <button class="import-or-leave-button" *ngIf="groupMember['username'] != currentUser" mat-raised-button color="accent" (click)="importAnime(groupMember['username'], groupMember['id'])">Import Anime</button>
                <button class="import-or-leave-button" *ngIf="groupMember['username'] == currentUser" mat-raised-button color="warn" (click)="leaveGroup()">Leave Group</button>
              </div>
            </div>
          </div>
        </div>
        <!-- "Find/create group" tab -->
      <div class="group-settings-tab" *ngIf="!currentGroup['name']">
        You're not currently in a group. Find or create one here!
        <div class="find-or-create-group">
          Request to join a group:
          <mat-form-field class="find-or-create-input" color="accent">
            <input matInput [(ngModel)]="joinGroupName" placeholder="Group Name">
          </mat-form-field>
          <button mat-raised-button class="find-or-create-button" color="accent" [disabled]="!joinGroupName" (click)="joinGroupRequest()">Send Request</button>
        </div>
        <div class="find-or-create-group">
        <span class="create-group-input-label"> Create your own group:</span>
          <mat-form-field class="find-or-create-input" color="accent">
            <input matInput [(ngModel)]="newGroupName" placeholder="New Group Name">
          </mat-form-field>
          <button mat-raised-button class="find-or-create-button" color="accent" [disabled]="!newGroupName" (click)="createGroup()">Create Group</button>
        </div>
      </div>
      </mat-tab>
      <!-- Group invites tab -->
      <mat-tab ng label="Pending Requests">
        <div *ngIf="!currentGroup['name']" class="group-settings-tab">
          <div *ngIf="pendingGroupRequests.length">
            These groups have sent you invites to join: (Remember, you can only select one!)
          </div>
          <div *ngIf="!pendingGroupRequests.length">
            No groups have sent you requests to join them.
          </div>
        </div>
        <!-- User invites tab -->
        <div *ngIf="currentGroup['name']" class="group-settings-tab">
          <div *ngIf="pendingUserRequestsCol1.length">
            <div>These people are requesting membership to your group:</div>
            <div class="member-list-container-left">
              <div class="group-member" *ngFor="let pendingUser of pendingUserRequestsCol1">
                <div class="group-member-avatar" [ngStyle]="{ 'background-image': 'url(' + pendingUser['id'] + '), url(http://s3.amazonaws.com/37assets/svn/765-default-avatar.png)'}"></div>
                <div class="group-member-name-container">
                  <h2 class="group-member-name">{{ pendingUser['username'] }}</h2>
                  <p class="group-member-bestgirl">Best girl: {{ pendingUser['bestgirl'] }}</p>
                  <button mat-raised-button color="accent" (click)="acceptUserRequest(pendingUser)">Accept</button>
                  <button mat-raised-button color="warn" class="reject-button" (click)="rejectUserRequest(pendingUser)">Reject</button>
                </div>
              </div>
            </div>
            <div class="member-list-container-right">
              <div class="group-member" *ngFor="let pendingUser of pendingUserRequestsCol2">
                <div class="group-member-avatar" [ngStyle]="{ 'background-image': 'url(' + pendingUser['id'] + '), url(http://s3.amazonaws.com/37assets/svn/765-default-avatar.png)'}"></div>
                <div class="group-member-name-container">
                  <h2 class="group-member-name">{{ pendingUser['username'] }}</h2>
                  <p class="group-member-bestgirl">Best girl: {{ pendingUser['bestgirl'] }}</p>
                  <button mat-raised-button color="accent" (click)="acceptUserRequest(pendingUser)">Accept</button>
                  <button mat-raised-button color="warn" class="reject-button" (click)="rejectUserRequest(pendingUser)">Reject</button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!pendingUserRequestsCol1.length">
            No users have requested to join your group.
          </div>
        </div>
      </mat-tab>
      <!-- Group settings tab -->
      <mat-tab label="Group Settings">
        <div class="group-settings-tab" *ngIf="currentGroup['name']">
          <div class="group-settings-left">
            <form #groupForm="ngForm">
              <mat-form-field class="group-settings-name" color="accent">
                <input matInput name="name" placeholder="Group Name" [(ngModel)]="changesModel.name"  #name="ngModel">
              </mat-form-field>
              <br>
              <button class="save-changes-button" mat-raised-button color="accent" [disabled]="!name.dirty" (click)="saveChanges()">Save Changes</button>
            </form>
            <br><br>
            More group features and settings will be available in future updates!
            <br><br>
            <button mat-raised-button color="warn" (click)="disbandGroup()">Disband Group</button>
          </div>
          <div class="group-settings-right">
            <div class="group-settings-avatar-big" [ngStyle]="{ 'background-image': 'url(' + currentGroupAvatar + '), url(http://s3.amazonaws.com/37assets/svn/765-default-avatar.png)'}"></div>
            <h3 class="group-settings-avatar-name">{{ currentGroup['name'] }}</h3>
            <div class="change-avatar">
              <button *ngIf="!showUploadOptions" mat-raised-button color="accent" (click)="toggleUploadOptions()">Change Avatar</button>
              <input class="upload-input" *ngIf="showUploadOptions" type="file" (change)="fileChangeEvent($event)"/>
              <button *ngIf="showUploadOptions" [disabled]="!this.groupAvatarUpload.length" type="button" (click)="upload()">Upload</button>
              <button *ngIf="showUploadOptions" (click)="toggleUploadOptions()">Cancel</button>
            </div>
          </div>
        </div>
        <div class="group-settings-tab" *ngIf="!currentGroup['name']">
          Create or join a group to view special group features and settings!
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card class="group-loading-placeholder" *ngIf="isLoading">
  <mat-card-content>
    <p>Loading group information...<p>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </mat-card-content>
</mat-card>
