<div class="import-container">
  Choose which anime to import!
  <br>
  <br>
  <div class="import-items">
    <mat-card class="import-item" *ngFor="let anime of data.importableAnime">
      <div>
        <img class="import-thumbnail" [src]="anime['thumbnail']">
        <div class="import-info">
          <div>
            <h3>{{ anime.name }}</h3>
          </div>
          <div>
            Type: {{ anime.type }}
          </div>
          <div>
            MAL Rating: {{ anime.rating }}
          </div>
          <div class="recommended-message-container" *ngIf="anime.recommenders && anime.recommenders.length">
            <mat-chip class="recommended-message">Recommended by <span *ngFor="let recommender of anime.recommenders; let i = index">{{ recommender.name + (i == anime.recommenders.length - 1 ? "" : ", ") }}</span></mat-chip>
          </div>
          <div class="import-checkbox">
            Import this anime: <mat-checkbox type="checkbox" [(ngModel)]="anime.selected"></mat-checkbox>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="import-action-button-container">
    <button class="import-action-button" mat-raised-button color="accent" [matDialogClose]="data.importableAnime">Import Selected Anime</button>
    <button class="import-action-button" mat-raised-button color="primary" [matDialogClose]="data.importAll">Import All</button>
    <button *ngIf="!data.filtered" class="import-action-button" mat-raised-button color="primary" (click)="data.filtered = true; data.importableAnime = data.filteredAnime;">Show Completed</button>
    <button *ngIf="data.filtered" class="import-action-button" mat-raised-button color="primary" (click)="data.filtered = false; data.importableAnime = data.allAnime;">Show All</button>
  </div>
</div>
