@import '~custom-theme.scss';
$primary: map-get($my-app-theme, primary);
$accent: map-get($my-app-theme, accent);
$warn: map-get($my-app-theme, warn);

.register-logo {
  font-size: 75px;
  font-family: "Syncopate";
  color: mat-color($primary);
  text-align: center;
  margin-bottom: 25px;
}

.register-form {
  display: flex;
  flex-direction: column;
  border: 3px solid mat-color($primary);
  border-style: groove;
  border-width: 3px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 10px;
}
.registration-container {
  width: 100%;
  text-align: center;
}
.no-account {
  margin-top: 10px;
}
.register-input {
  width: 100%;
}
.area11-register-toast {
  display: none;
  background-color: mat-color($accent);
  border: 1px solid black;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
  height: 20px !important;
  margin-top: 10px;
  z-index: 1;
  font-size: 14px;
}
.toast-error {
  background-color: mat-color($warn);
}

.area11-register-toast.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 10px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 10px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
