.top-wrapper {
  padding-top: 10px;
  padding-bottom: 8px;
}
.register-button {
  float: right;
  margin-right: 10px;
  background-color: #800015;
  color: white;
}
.main-logo {
  color: #800015;
  font-family: "Syncopate";
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline;
}
