<app-header [refreshHeader]="refreshHeader"></app-header>
<div class="search-toolbar">
  <button mat-raised-button class="home-button" routerLink="/">Back to Home</button>
  <button mat-raised-button class="back-to-group-button" routerLink="/group">Back to Group</button>
</div>
<div class="area11-group-toast" [ngClass]="{show: showToast, 'toast-error': toastError}">{{ toastMessage }}</div>
<div *ngIf="currentGroup['name']">
  <div class="toptens-top-controls">
    <mat-form-field color="accent">
      <input matInput placeholder="New Category Name" [(ngModel)]="newCategoryName">
    </mat-form-field>
    <button mat-raised-button color="accent" class="new-category-button" [disabled]="!newCategoryName" (click)="addNewCategory()">Add</button>
    <label class="select-category-label" for="category-select">Currently viewing:</label>
    <select class="select-category" id="category-select" [(ngModel)]="currentCategory">
      <option [disabled]="totalOrderMode" value="All Categories">All Categories</option>
      <option *ngFor="let category of allCategories" [value]="category['category']">{{ category["category"] }}</option>
    </select>
    <div class="total-order-mode-enable">
      <button *ngIf="!this.totalOrderMode" class="category-control-item total-order-control-button" mat-raised-button color="primary" (click)="viewTotalOrdering()">View total ordering</button>
      <button *ngIf="this.totalOrderMode" class="category-control-item total-order-control-button" mat-raised-button color="primary" (click)="leaveTotalOrdering()">View top tens</button>
    </div>
  </div>
  <div *ngIf="allCategories.length && !isLoading">
    <div *ngFor="let category of allCategories; let i = index;">
      <mat-card class="toptens-card" *ngIf="currentCategory == 'All Categories' || currentCategory == category['category']">
        <h1 class="category-header">Top {{ this.totalOrderMode ? "" : "Ten" }} {{ category["category"] }}</h1>
        <div class="category-controls">
          <div class="category-control-item">
            <label for="member-select">Currently viewing:</label>
            <select id="member-select" [(ngModel)]="categoryLogistics[i]['member']">
              <option *ngFor="let member of currentGroupMembers" [value]="member['username']">{{ member["username"] }}</option>
            </select>
          </div>
          <button *ngIf="!categoryLogistics[i]['isEditing']"  [disabled]="categoryLogistics[i]['member'] != currentUser" class="category-control-item category-control-button" mat-raised-button color="accent" (click)="enterEditMode(i, category['category'])">Edit</button>
          <button *ngIf="categoryLogistics[i]['isEditing']"  [disabled]="categoryLogistics[i]['member'] != currentUser" class="category-control-item category-control-button" mat-raised-button color="accent" (click)="saveChanges(category['category'], i)">Save</button>
          <button class="category-control-item category-control-button" mat-raised-button color="warn" (click)="deleteCategory(category.category)">Delete category</button>
        </div>
        <div class="toptens-content">
          <div *ngIf="categoryLogistics[i]['member'] != currentUser || !categoryLogistics[i]['isEditing']">
            <div *ngFor="let entry of topTensMap.get(category['category']).get(categoryLogistics[i]['member'])['entries']; let j = index">
              <p *ngIf="totalOrderMode || j <= 9" [ngClass]="{'tenth-item': j >= 9}">
                <span *ngIf="categoryLogistics[i]['member'] != currentUser && isHidden(entry)">{{ j + 1 }}. Hidden</span>
                <span *ngIf="categoryLogistics[i]['member'] == currentUser || !isHidden(entry)">{{ j + 1 }}. {{ entry["name"] }}</span>
              </p>
            </div>
          </div>
          <div *ngIf="categoryLogistics[i]['member'] == currentUser && categoryLogistics[i]['isEditing']">
            <div *ngFor="let entry of topTensMap.get(category['category']).get(categoryLogistics[i]['member'])['entries']; let j = index">
              <p *ngIf="totalOrderMode || j <= 9" display="inline" [ngClass]="{'tenth-item': j >= 9}" >{{ j + 1 }}. <input [(ngModel)]="entry['name']">
                <button mat-raised-button class="ordering-button" color="primary" (click)="moveUp(category['category'], i, j)" [disabled]="j == 0">▲</button>
                <button mat-raised-button class="ordering-button" color="primary" (click)="moveDown(category['category'], i, j)" [disabled]="!totalOrderMode && j == 9 || totalOrderMode && j == topTensMap.get(category['category']).get(categoryLogistics[i]['member'])['entries'].length - 1">▼</button>
                <button mat-raised-button class="ordering-button" color="accent" *ngIf="totalOrderMode" (click)="addNewEntry(category['category'], i, j)">＋</button>
                <button mat-raised-button class="ordering-button" color="warn" *ngIf="totalOrderMode" (click)="removeEntry(category['category'], i, j)" [disabled]="topTensMap.get(category['category']).get(categoryLogistics[i]['member'])['entries'].length <= 10">−</button>
                Hide from:<mat-checkbox class="viewerprefs-checkbox" *ngFor="let viewerPref of entry['viewerPrefs']" [name]="category.category + currentUser + j" [(ngModel)]="viewerPref['shouldHide']">{{ viewerPref['member'] }}</mat-checkbox>
              </p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div *ngIf="isLoading">
    <mat-card class="placeholder-card">
      <mat-card-content>
        <p>Loading top tens information...<p>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="!allCategories.length && !isLoading">
    <mat-card class="placeholder-card">
      <mat-card-content>
        Create & share top ten lists here with your group members! Start by adding some categories above.
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div *ngIf="!currentGroup['name']">
  <mat-card class="placeholder-card">
    <mat-card-content>
      Whoops! You need to be in a group to use this page. Go to your "My Group" section to find or create one!
    </mat-card-content>
  </mat-card>
</div>
