.area11-group-toast {
  display: none;
  background-color: #3d85c6;
  color: #fff;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-width: 2px;
  text-align: center;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 1;
  font-size: 14px;
}
.toast-error {
  background-color: #ff5722;
}

.area11-group-toast.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 15px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 15px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 15px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 15px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.search-toolbar {
  width: 100%;
  color: #f0f0f0;
  vertical-align: middle;
  background-color: #800015;
  border: 1px solid #330000;
  border-width: 2px;
  height: 40px;
  line-height: 40px;
  text-shadow: 1px 1px 0 #444;
}
.home-button {
  border-radius: 50px;
  height: 20px;
  color: black;
  line-height: 20px;
  margin-left: 60px;
}
.menu-right-button {
  float: right;
  margin-top: 10px;
  border-radius: 50px;
  height: 20px;
  color: black;
  line-height: 20px;
  margin-right: 60px;
}
.toptens-top-controls {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.toptens-top-navigator {
  width: 1000px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #c3c3c3;
  border-style: double;
  border-width: 5px;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.toptens-select-all-or-none {
  height: 25px;
  line-height: 25px;
  min-width: 80px !important;
  margin-left: 5px;
  margin-right: 5px;
}
.toptens-top-navigator-options {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
.toptens-top-navigator-controls {
  margin-top: -20px;
}
.category-checkbox-batch-options {
  text-align: center;
}
.category-checkbox-options-container {
  width: 850px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.new-category-button {
  margin-left: 5px;
  height: 32px;
  line-height: 32px;
  min-width: 0px;
  width: 70px;
  margin-right: 30px;
}
.category-checkbox-option {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  font-size: 12px;
}
@media screen and (max-width: 850px) {
  .toptens-top-navigator {
    width: 750px;
  }
  .category-checkbox-options-container {
    width: 700px;
  }
  .category-checkbox-option {
    width: 150px;
  }
}
/deep/ .mat-checkbox-layout {
  display: inline-block !important;
}
.total-order-mode-enable {
  display: inline;
  margin-left: 30px;
}
.total-order-control-button {
  height: 32px;
  line-height: 32px;
}
.placeholder-card {
  margin-top: 10px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.loading-bar {
  text-align: left;
}
.toptens-card {
  margin-top: 10px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c3c3c3;
  border-style: double;
  border-width: 5px;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.category-header {
  text-align: center;
}
.last-edited-date {
  text-align: center;
  margin-top: -10px;
  font-size: 11pt;
  margin-bottom: 10px;
}
.category-controls {
  display: flex;
  justify-content: center;
}
.category-control-item {
  margin-left: 5px;
  margin-right: 5px;
}
.category-control-button {
  height: 28px;
  min-width: 70px;
  line-height: 28px;
}
#member-select {
  height: 28px;
  font-size: 14px;
}
.toptens-content {
  padding-left: 20px;
}
.viewerprefs-checkbox {
  margin-left: 10px;
}
.tenth-item {
  margin-left: -9px;
}
.hundredth-item {
  margin-left: -19px;
}
.ordering-button {
  justify-content: center;
  padding: 0px;
  min-width: 30px;
  width: 30px;
  margin-left: 2px;
  margin-right: 2px;
  height: 20px;
  line-height: 20px;
  border-radius: 5px;
  font: 400 11px system-ui;
}
