.area11-toast {
  display: none;
  background-color: #3d85c6;
  color: #fff;
  border: 1px solid black;
  border-width: 2px;
  text-align: center;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  height: 20px !important;
  z-index: 1;
  font-size: 14px;
}
.toast-error {
  background-color: #ff5722;
}

.area11-toast.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 10px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 10px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.search-toolbar {
  width: 100%;
  color: #f0f0f0;
  vertical-align: middle;
  background-color: #800015;
  border: 1px solid #330000;
  border-width: 2px;
  height: 40px;
  line-height: 40px;
  text-shadow: 1px 1px 0 #444;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.add-anime-button {
  border-radius: 50px;
  height: 20px;
  color: black;
  line-height: 20px;
}
.add-to-button {
  margin-left: 5px;
}
.add-to-category {
  width: 140px;
}
.search-toolbar-minicontainer {
  display: inline;
}
.search-anime-input-no-placeholder {
  width: 200px;
  border: 1px solid black;
}
.search-anime-input {
  display: none;
}
@media screen and (max-width: 1300px) {
  .filter-label {
    display: none;
  }
  .search-anime-input {
    width: 200px;
    border: 1px solid black;
    display: inline;
  }
  .search-anime-input-no-placeholder {
    display: none;
  }
}
.search-option {
  font-size: 10px;
  border-bottom: 1px solid gray;
}
.search-anime-thumbnail {
  vertical-align: middle;
  height: 40px;
}
.search-anime-name {
  display: inline !important;
}
.open-op-button {
  float: right;
  border-radius: 50px;
  height: 20px;
  color: black;
  line-height: 20px;
}
.open-op-button:disabled {
  background-color: #d1d1d1
}
.add-anime-prompt {
  margin-top: 5px;
  padding-right: 0px;
  padding-left: 10px;
  height: 85px;
  z-index: 1;
  border: 1px solid #c3c3c3 !important;
  border-style: double !important;
  border-width: 5px !important;
}
.add-anime-smallscreen {
  display: none;
}
.add-anime-name {
  width: 65%;
  margin-right: 1%;
  margin-top: -20px;
}
.link-button {
  width: 10%;
  border-radius: 25px;
  color: white;
}
.home-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.flex-item {
  width: 28%;
  margin-left: 1%;
  margin-right: 1%;
}
@media screen and (min-width: 1400px) {
  .flex-item {
    width: 26%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
.catalog {
  border: 1px solid #c3c3c3;
  border-style: double;
  border-width: 5px;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: white;
  overflow: auto;
  max-height: 656px;
  margin-top: 10px;
}
.catalog-item-name {
  width: 71%;
}
.recommended-icon {
  height: 18px;
  position: absolute;
  right: 50px;
}
.catalog-rating {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 15px;
}
.details-panel {
  width: 34%;
  text-align: center;
  border: 1px solid #c3c3c3;
  border-style: double;
  border-width: 5px;
  margin-top: 10px;
  padding-top: 0px !important;
  padding-right: 0px !important;
}
.details-title {
  margin-bottom: 8px;
}
.details-flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
@media screen and (max-width: 1260px) {
  .details-flex-container {
    justify-content: space-between;
  }
}
.details-thumbnail-container {
  display: inline-block;
  width: 48%;
  text-align: center;
}
.details-description {
  clear: both;
}
.details-misc {
  display: inline-block;
  width: 35%;
  text-align: left;
  font-size: 14px;
}
.details-panel-placeholder {
  width: 34%;
  text-align: center;
  border: 1px solid #c3c3c3;
  border-style: double;
  border-width: 5px;
  margin-top: 10px;
}
.details-panel-content {
  overflow: auto;
  max-height: 550px;
  padding-right: 24px;
}
.no-padding-bottom {
  padding-bottom: 0px !important;
}
.details-button-container {
  border-top: 1px solid #c3c3c3;
  padding-top: 5px;
  height: 100px;
  overflow: auto;
}
.details-button {
  margin: 5px !important;
  color: white;
}
.chooser-tool {
  border: 1px solid #c3c3c3;
  border-style: double;
  border-width: 5px;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: white;
  overflow: auto;
  max-height: 656px;
  margin-top: 10px;
  font-family: "Roboto";
}
.chooser-tool-placeholder {
  border: 1px solid #c3c3c3;
  border-style: double;
  border-width: 5px;
  margin-top: 10px;
}
.finalist-item {
  list-style-type: none;
  padding-top: 10px;
  padding-right: 10px;
}
.finalist-topitem {
  text-align: center;
}
.finalist-topitem-header {
  margin-bottom: 5px;
  margin-top: 5px;
}
.finalist-topitem-button {
  background-color: #FFD700;
  border-radius: 50px;
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
  margin-bottom: 10px;
}
.finalist-stats {
  padding: 20px;
}
.finalist-stats-genre {
  font-size: 14px;
}
.finalist-item-name {
  margin-left: 20px;
}
.finalist-button-container {
  float: right;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 2%;
  white-space: nowrap;
}
.finalist-button-container-smallscreen {
  display: none;
}
@media screen and (max-width: 1130px) {
    .finalist-button-container {
      display: none;
    }
    .finalist-button-container-smallscreen {
      display: block;
      margin-right: 2%;
      float: right;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .finalist-smallscreen-action {
      height: 30px;
      line-height: 30px;
    }
    .add-anime-smallscreen {
      display: inline;
    }
    .add-anime-normal {
      display: none;
    }
    .details-thumbnail-container {
      width: auto;
    }
    .details-flex-container {
      display: block;
    }
    .details-misc {
      display: block;
      width: 100%;
      text-align: center;
    }

}
.finalist-button {
  border-radius: 50px;
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
  min-width: 67px;
}
.comments-chiplist {
  margin-top: 5px !important;
  margin-left: 20px;
}
.comment-chip {
  height: 4px;
}
.finalist-divider {
  display: block;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0,0,0,.12);
  margin: 0;
  width: 100%;
  clear: both;
}
