.top-wrapper {
  padding-top: 10px;
  padding-bottom: 8px;
  vertical-align: middle;
}
.main-logo {
  color: #800015;
  font-family: "Syncopate";
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline;
  font-size: 40px;
}
.main-logo:hover {
  cursor: pointer;
}
.profile-container {
  float: right;
  margin-right: 60px;
  color: #800015;
  font-size: 20px;
}
.profile-username {
  position: absolute;
  top: 17px;
  right: 120px;
  font-size: 30px;
}
.profile-avatar {
  height: 50px;
  border-radius: 50%;
  margin-top: -10px;
}
.home-menu-button {
  text-align: center;
}
.open-menu {
  float: right;
}
.area11-toast {
  display: none;
  background-color: #3d85c6;
  color: #fff;
  border: 1px solid black;
  border-width: 2px;
  text-align: center;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  height: 20px !important;
  z-index: 1;
  font-size: 14px;
}
.toast-error {
  background-color: #ff5722;
}

.area11-toast.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 10px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 10px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.search-toolbar {
  width: 100%;
  color: #f0f0f0;
  vertical-align: middle;
  background-color: #800015;
  border: 1px solid #330000;
  border-width: 2px;
  height: 40px;
  line-height: 40px;
  text-shadow: 1px 1px 0 #444;
}
.add-anime-button {
  border-radius: 50px;
  height: 20px;
  color: black;
  line-height: 20px;
  margin-left: 20px;
}
.add-to-button {
  margin-left: 5px;
}
.catalog-sort-label {
  margin-left: 50px;
}
.add-anime-prompt {
  margin-top: 5px;
  padding-right: 0px;
  padding-left: 10px;
  height: 85px;
  z-index: 1;
  border: 1px solid #c3c3c3 !important;
  border-style: double !important;
  border-width: 5px !important;
}
.add-anime-smallscreen {
  display: none;
}
.add-anime-name {
  width: 65%;
  margin-right: 1%;
  margin-top: -20px;
}
.link-button {
  width: 10%;
  border-radius: 25px;
  color: white;
}
.home-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.flex-item {
  width: 28%;
  margin-left: 1%;
  margin-right: 1%;
}
.catalog {
  border: 1px solid #c3c3c3;
  border-style: double;
  border-width: 5px;
  background-color: white;
  overflow: scroll;
  max-height: 600px;
  margin-top: 10px;
}
.catalog-item {
  margin-top: -10px !important;
}
.catalog-item-name {
  width: 89%;
}
.catalog-rating {
  position: absolute;
  right: 10px;
  top: 15px;
}
.details-panel {
  width: 34%;
  text-align: center;
  border: 1px solid #c3c3c3;
  border-style: double;
  border-width: 5px;
  margin-top: 10px;
  padding-top: 0px !important;
  padding-right: 0px !important;
}
.details-title {
  margin-bottom: 8px;
}
.details-panel-placeholder {
  width: 34%;
  text-align: center;
  border: 1px solid #c3c3c3;
  border-style: double;
  border-width: 5px;
  margin-top: 10px;
}
.details-panel-content {
  overflow: scroll;
  max-height: 550px;
  padding-right: 24px;
}
.no-padding-bottom {
  padding-bottom: 0px !important;
}
.details-button-container {
  border-top: 1px solid #c3c3c3;
  padding-top: 5px;
  height: 100px;
  overflow: scroll;
}
.details-button {
  margin: 5px !important;
  color: white;
}
.chooser-tool {
  border: 1px solid #c3c3c3;
  border-style: double;
  border-width: 5px;
  background-color: white;
  overflow: scroll;
  max-height: 600px;
  margin-top: 10px;
  font-family: "Roboto";
}
.chooser-tool-placeholder {
  border: 1px solid #c3c3c3;
  border-style: double;
  border-width: 5px;
  margin-top: 10px;
}
.finalist-item {
  list-style-type: none;
  padding-top: 10px;
  padding-right: 10px;
}
.finalist-item-name {
  margin-left: 20px;
}
.finalist-button-container {
  float: right;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 2%;
  white-space: nowrap;
}
.finalist-button-container-smallscreen {
  display: none;
}
@media screen and (max-width: 1075px) {
    .finalist-button-container {
      display: none;
    }
    .finalist-button-container-smallscreen {
      display: block;
      margin-right: 2%;
      float: right;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .finalist-smallscreen-action {
      height: 30px;
      line-height: 30px;
    }
    .add-anime-smallscreen {
      display: inline;
    }
    .add-anime-normal {
      display: none;
    }

}
.finalist-button {
  border-radius: 50px;
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
}
.comments-chiplist {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin-left: 20px;
}
.comment-chip {
  height: 4px;
}
.finalist-divider {
  display: block;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0,0,0,.12);
  margin: 0;
  width: 100%;
  clear: both;
}
