<app-header [refreshHeader]="refreshHeader"></app-header>
<!-- Search assistant toolbar -->
<div class="search-toolbar">
  <button mat-raised-button class="add-anime-button" *ngIf="!showAddAnimePrompt" (click)="openAddAnimePrompt()">Add Anime</button>
  <button mat-raised-button class="add-anime-button" *ngIf="showAddAnimePrompt" (click)="closeAddAnimePrompt()">Stop Adding Anime</button>
  <!-- Filtering/sorting -->
  <div class="search-toolbar-minicontainer">
    <label class="filter-label" for="catalogCategoryFilter">Filter by Category: </label>
    <select id="catalogCategoryFilter" [(ngModel)]="showCategory" (ngModelChange)="refresh()" class="catalog-sort">
      <option value="All Categories">All Categories</option>
      <option value="Want to Watch">Want to Watch</option>
      <option value="Considering">Considering</option>
      <option value="Completed">Completed</option>
    </select>
  </div>
  <div class="search-toolbar-minicontainer">
    <label class="filter-label" for="catalogSort">Sort by: </label>
    <select id="catalogSort" [(ngModel)]="sortCriteria" (ngModelChange)="sortAnime($event)" class="catalog-sort">
      <option value="_id,ascending">Default Sorting</option>
      <option value="name,ascending">Alphabetical</option>
      <option value="rating,descending">Rating (High to Low)</option>
      <option value="rating,ascending">Rating (Low to High)</option>
      <option value="startDate,ascending">Air Date (Old to New)</option>
      <option value="startDate,descending">Air Date (New to Old)</option>
    </select>
  </div>
  <div class="search-toolbar-minicontainer">
    <label class="filter-label" for="catalogGenreFilter">View by Genre: </label>
    <select id="catalogGenreFilter" [(ngModel)]="selectedGenre" (ngModelChange)="filterAnimeByGenre($event)" class="catalog-sort">
      <option value="All Genres">All Genres</option>
      <option *ngFor="let genre of allGenres" [value]="genre">{{ genre }}</option>
    </select>
  </div>
  <div class="search-toolbar-minicontainer">
    <label class="filter-label" for="animeSearch-no-placeholder">Search for anime: </label>
    <input id="animeSearch-no-placeholder" class="search-anime-input-no-placeholder" [(ngModel)]="searchText" [matAutocomplete]="auto" [formControl]="searchAnimeCtl">
    <input id="animeSearch" class="search-anime-input" placeholder="Search for anime" [(ngModel)]="searchText" [matAutocomplete]="auto" [formControl]="searchAnimeCtl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option class="search-option" *ngFor="let anime of filteredSearchAnime | async" [value]="anime.name" (click)="showAnimeDetails(anime, true)">
        <img class="search-anime-thumbnail" [src]="anime['thumbnail']" />
        <span class="search-anime-name">{{ anime["name"] }}</span>
      </mat-option>
    </mat-autocomplete>
  </div>
  <button mat-raised-button class="open-op-button" [disabled]="!finalistList.length" (click)="watchOPs()">Watch Finalist OPs</button>
</div>

<div class="home-container">
  <!-- Add anime prompt -->
  <div class="flex-item">
    <mat-card *ngIf="showAddAnimePrompt" class="add-anime-prompt">
      <div>
        <mat-form-field color="accent" class="add-anime-name">
          <input matInput placeholder="Title of Anime" [(ngModel)]="animeToAdd['name']" name="animeName">
        </mat-form-field>
        <button mat-raised-button [disabled]="!animeToAdd['name']" class="link-button" color="accent" type=button (click)="malSearch()">{{ (animeToAdd['malID'] ? 'Relink' : 'Link') }}</button>
        <div class="add-anime-normal">
          <mat-form-field class="add-to-category">
            <mat-select placeholder="Add to..." name="addAnimeCat" [(ngModel)]="animeToAdd['category']">
              <!-- <option value="" disabled selected>Select a Category</option> -->
              <mat-option *ngFor="let category of possibleCategories" [value]="category">{{ category }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!animeToAdd['name'] || !animeToAdd['category']" class="add-to-button" type=button (click)="addAnimeToCatalog()">Add to Catalog</button>
        </div>
        <div class="add-anime-smallscreen">
          <button class="add-anime-smallscreen" mat-raised-button color="primary" [matMenuTriggerFor]="addMenu">Add</button>
          <mat-menu #addMenu="matMenu">
            <button mat-menu-item [disabled]="!animeToAdd['name']" (click)="addAnimeToCatalog('Want to Watch')">Add to Want to Watch</button>
            <button mat-menu-item [disabled]="!animeToAdd['name']" (click)="addAnimeToCatalog('Considering')">Add to Considering</button>
            <button mat-menu-item [disabled]="!animeToAdd['name']" (click)="addAnimeToCatalog('Completed')">Add to Completed</button>
          </mat-menu>
        </div>
      </div>
    </mat-card>

    <!-- Anime catalogue -->
    <div class="catalog">
      <mat-nav-list dense #animeCatalog>
        <h3 matSubheader *ngIf="showCategory == 'All Categories' || showCategory == 'Want to Watch'">Want to Watch ({{ wantToWatchList.length }}):</h3>
        <mat-list-item (click)="showAnimeDetails(anime)" class="catalog-item" *ngFor="let anime of wantToWatchList">
          <span class="catalog-item-name">{{ anime.name }}</span> <img *ngIf="anime['recommenders'] && anime['recommenders'].length" class="recommended-icon" src="./assets/recommend-star.svg"> <span *ngIf="anime['rating']" class="catalog-rating">({{ (anime["rating"] ? (anime["rating"].toString().length == 4 ? anime["rating"] : (anime["rating"].toString().length == 1 ? anime["rating"] + ".00" : anime["rating"] + "0")) : '') }})</span>
        </mat-list-item>
        <mat-divider *ngIf="showCategory == 'All Categories' || showCategory == 'Want to Watch'"></mat-divider>
        <h3 matSubheader *ngIf="showCategory == 'All Categories' || showCategory == 'Considering'">Considering ({{ consideringList.length }}):</h3>
        <mat-list-item (click)="showAnimeDetails(anime)" class="catalog-item" *ngFor="let anime of consideringList">
          <span class="catalog-item-name">{{ anime.name }}</span> <img *ngIf="anime['recommenders'] && anime['recommenders'].length" class="recommended-icon" src="./assets/recommend-star.svg"> <span *ngIf="anime['rating']" class="catalog-rating">({{ (anime["rating"] ? (anime["rating"].toString().length == 4 ? anime["rating"] : (anime["rating"].toString().length == 1 ? anime["rating"] + ".00" : anime["rating"] + "0")) : '') }})</span>
        </mat-list-item>
        <mat-divider *ngIf="showCategory == 'All Categories' || showCategory == 'Considering'"></mat-divider>
        <h3 matSubheader *ngIf="showCategory == 'All Categories' || showCategory == 'Completed'">Completed ({{ completedList.length }}):</h3>
        <mat-list-item (click)="showAnimeDetails(anime)" class="catalog-item" *ngFor="let anime of completedList">
          <span class="catalog-item-name">{{ anime.name }}</span> <img *ngIf="anime['hasNewSeason']" class="recommended-icon" src="./assets/new-season-star.svg"> <span *ngIf="anime['rating']" class="catalog-rating">({{ (anime["rating"] ? (anime["rating"].toString().length == 4 ? anime["rating"] : (anime["rating"].toString().length == 1 ? anime["rating"] + ".00" : anime["rating"] + "0")) : '') }})</span>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>

  <!-- Details View -->
  <mat-card class="details-panel-placeholder" *ngIf="!selectedAnime['name']">
    Click on anime in any of your lists to see details from MAL here!
  </mat-card>

  <!-- Need two versions of this because of the CSS for the button-panel: There is an extra button for completed anime w/new season -->
  <mat-card class="details-panel no-padding-bottom" *ngIf="selectedAnime['name'] && (selectedAnime['category'] != 'Completed' || !selectedAnime['hasNewSeason'])">
    <div *ngIf="selectedAnime['name']">
      <div class="details-panel-content" >
        <h2 class="details-title">{{ selectedAnime["name"] }}</h2>
        <div class="details-flex-container">
          <div class="details-thumbnail-container">
            <img [src]="selectedAnime['thumbnail']" alt="Thumbnail not available.">
          </div>
          <div class="details-misc">
            <p><strong>Started:</strong> {{ selectedAnime["startDate"] ? (selectedAnime["startDate"] == "Invalid Date" ? "Unknown" : selectedAnime["startDate"]) : "Unknown" }}</p>
            <p><strong>Ended:</strong> {{ selectedAnime["endDate"] ? (selectedAnime["endDate"] == "Invalid Date" ? "Unknown" : selectedAnime["endDate"]) : "Unknown" }}</p>
            <p><strong>MAL rating:</strong> {{ selectedAnime["rating"] }}</p>
            <p><strong>Type:</strong> {{ selectedAnime["type"] ? selectedAnime["type"] : "Unknown" }}</p>
            <p><strong>English:</strong> {{ selectedAnime["englishTitle"] ? selectedAnime["englishTitle"] : "Unknown" }}</p>
            <p><strong>Status:</strong> {{ selectedAnime["status"] ? selectedAnime["status"] : "Unknown" }}</p>
            <p><strong>Genres:</strong>
              <span *ngIf="selectedAnime['genres'] && selectedAnime['genres'].length">
                <span *ngFor="let genre of selectedAnime['genres']; let i = index;">{{ genre + (i == selectedAnime['genres'].length - 1 ? '' : ', ') }}</span>
              </span>
              <span *ngIf="!selectedAnime['genres'] || !selectedAnime['genres'].length">Unavailable (updated nightly)</span>
            </p>
            <p><strong>Recommenders:</strong>
              <span *ngIf="selectedAnime['recommenders'] && selectedAnime['recommenders'].length">
                <span *ngFor="let recommender of selectedAnime['recommenders']; let i = index;">{{ recommender["name"] + (i == selectedAnime['recommenders'].length - 1 ? '' : ', ') }}</span>
              </span>
              <span *ngIf="!selectedAnime['recommenders'] || !selectedAnime['recommenders'].length">None</span>
            </p>
          </div>
        </div>
        <div class="details-description">
          <p [innerHTML]="selectedAnime['description']"></p>
        </div>
      </div>
      <div class="details-button-container">
        <button mat-raised-button color="accent" [matMenuTriggerFor]="moveMenu" class="details-button">Change Category</button>
        <mat-menu #moveMenu="matMenu" yPosition="above">
          <a class="move-menu-button" mat-menu-item *ngIf="selectedAnime['category'] != 'Want to Watch'" (click)="changeCategory('Want to Watch')">
            <span>Move to Want to Watch</span>
          </a>
          <a class="move-menu-button" mat-menu-item *ngIf="selectedAnime['category'] != 'Considering'" (click)="changeCategory('Considering')">
            <span>Move to Considering</span>
          </a>
          <a class="move-menu-button" mat-menu-item *ngIf="selectedAnime['category'] != 'Completed'" (click)="changeCategory('Completed')">
            <span>Move to Completed</span>
          </a>
        </mat-menu>
        <button [disabled]="!canSelectAsFinalist" *ngIf="selectedAnime['category'] != 'Completed' || selectedAnime['category'] == 'Completed' && selectedAnime['hasNewSeason']" class="details-button" (click)="selectAsFinalist()" mat-raised-button color="primary">Select as Finalist</button>
        <button *ngIf="selectedAnime['category'] == 'Completed' && !selectedAnime['ownerIsRecommender']" class="details-button" (click)="recommendAnime()" mat-raised-button color="primary">Recommend</button>
        <button *ngIf="selectedAnime['category'] == 'Completed' && selectedAnime['ownerIsRecommender']" class="details-button" (click)="undoRecommendAnime()" mat-raised-button color="primary">Undo Recommend</button>
        <button *ngIf="selectedAnime['category'] == 'Completed' && !selectedAnime['hasNewSeason']" class="new-season-button" (click)="addNewSeason()" mat-raised-button color="accent">Add New Season</button>
        <button *ngIf="selectedAnime['category'] == 'Completed' && selectedAnime['hasNewSeason']" class="new-season-button" (click)="removeNewSeason()" mat-raised-button color="accent">Remove New Season</button>
        <button *ngIf="selectedAnime['category'] != 'Completed'" (click)="removeAnimeFromCatalog()" class="details-button" mat-raised-button color="warn">Remove from Catalog</button>
      </div>
    </div>
  </mat-card>

  <mat-card class="details-panel no-padding-bottom" *ngIf="selectedAnime['name'] && selectedAnime['category'] == 'Completed' && selectedAnime['hasNewSeason']">
    <div *ngIf="selectedAnime['name']">
      <div class="details-panel-content-newseason" >
        <h2 class="details-title">{{ selectedAnime["name"] }}</h2>
        <div class="details-flex-container">
          <div class="details-thumbnail-container">
            <img [src]="selectedAnime['thumbnail']" alt="Thumbnail not available.">
          </div>
          <div class="details-misc">
            <p><strong>Started:</strong> {{ selectedAnime["startDate"] ? (selectedAnime["startDate"] == "Invalid Date" ? "Unknown" : selectedAnime["startDate"]) : "Unknown" }}</p>
            <p><strong>Ended:</strong> {{ selectedAnime["endDate"] ? (selectedAnime["endDate"] == "Invalid Date" ? "Unknown" : selectedAnime["endDate"]) : "Unknown" }}</p>
            <p><strong>MAL rating:</strong> {{ selectedAnime["rating"] }}</p>
            <p><strong>Type:</strong> {{ selectedAnime["type"] ? selectedAnime["type"] : "Unknown" }}</p>
            <p><strong>English:</strong> {{ selectedAnime["englishTitle"] ? selectedAnime["englishTitle"] : "Unknown" }}</p>
            <p><strong>Status:</strong> {{ selectedAnime["status"] ? selectedAnime["status"] : "Unknown" }}</p>
            <p><strong>Genres:</strong>
              <span *ngIf="selectedAnime['genres'] && selectedAnime['genres'].length">
                <span *ngFor="let genre of selectedAnime['genres']; let i = index;">{{ genre + (i == selectedAnime['genres'].length - 1 ? '' : ', ') }}</span>
              </span>
              <span *ngIf="!selectedAnime['genres'] || !selectedAnime['genres'].length">Unavailable (updated nightly)</span>
            </p>
            <p><strong>Recommenders:</strong>
              <span *ngIf="selectedAnime['recommenders'] && selectedAnime['recommenders'].length">
                <span *ngFor="let recommender of selectedAnime['recommenders']; let i = index;">{{ recommender["name"] + (i == selectedAnime['recommenders'].length - 1 ? '' : ', ') }}</span>
              </span>
              <span *ngIf="!selectedAnime['recommenders'] || !selectedAnime['recommenders'].length">None</span>
            </p>
          </div>
        </div>
        <div class="details-description">
          <p [innerHTML]="selectedAnime['description']"></p>
        </div>
      </div>
      <div class="details-button-container-newseason">
        <button mat-raised-button color="accent" [matMenuTriggerFor]="moveMenu" class="details-button">Change Category</button>
        <mat-menu #moveMenu="matMenu" yPosition="above">
          <a class="move-menu-button" mat-menu-item *ngIf="selectedAnime['category'] != 'Want to Watch'" (click)="changeCategory('Want to Watch')">
            <span>Move to Want to Watch</span>
          </a>
          <a class="move-menu-button" mat-menu-item *ngIf="selectedAnime['category'] != 'Considering'" (click)="changeCategory('Considering')">
            <span>Move to Considering</span>
          </a>
          <a class="move-menu-button" mat-menu-item *ngIf="selectedAnime['category'] != 'Completed'" (click)="changeCategory('Completed')">
            <span>Move to Completed</span>
          </a>
        </mat-menu>
        <button [disabled]="!canSelectAsFinalist" *ngIf="selectedAnime['category'] != 'Completed' || selectedAnime['category'] == 'Completed' && selectedAnime['hasNewSeason']" class="details-button" (click)="selectAsFinalist()" mat-raised-button color="primary">Select as Finalist</button>
        <button *ngIf="selectedAnime['category'] == 'Completed' && !selectedAnime['ownerIsRecommender']" class="details-button" (click)="recommendAnime()" mat-raised-button color="primary">Recommend</button>
        <button *ngIf="selectedAnime['category'] == 'Completed' && selectedAnime['ownerIsRecommender']" class="details-button" (click)="undoRecommendAnime()" mat-raised-button color="primary">Undo Recommend</button>
        <button *ngIf="selectedAnime['category'] == 'Completed' && !selectedAnime['hasNewSeason']" class="new-season-button" (click)="addNewSeason()" mat-raised-button color="accent">Add New Season</button>
        <button *ngIf="selectedAnime['category'] == 'Completed' && selectedAnime['hasNewSeason']" class="new-season-button" (click)="removeNewSeason()" mat-raised-button color="accent">Remove New Season</button>
        <button *ngIf="selectedAnime['category'] != 'Completed'" (click)="removeAnimeFromCatalog()" class="details-button" mat-raised-button color="warn">Remove from Catalog</button>
      </div>
    </div>
  </mat-card>

  <div class="flex-item">
    <div class="area11-toast" [ngClass]="{show: showToast, 'toast-error': toastError}">{{ toastMessage }}</div>

    <mat-card class="chooser-tool-placeholder" *ngIf="!finalistList.length">
      Anime you add to your final selection process will appear here!
    </mat-card>

  <!-- IDEA: Recommender filter for finalist list based on genres not selected yet -->
    <div *ngIf="finalistList.length" class="chooser-tool">
      <div class="finalist-item finalist-topitem">
        <h3 *ngIf="finalistList.length == 1" class="finalist-topitem-header-cr">Currently Watching</h3>
        <h3 *ngIf="finalistList.length != 1" class="finalist-topitem-header">Finalists: {{ finalistList.length }}</h3>
        <button *ngIf="finalistList.length > 1 && !showFinalistStats" class="finalist-topitem-button" mat-raised-button (click)="viewFinalistStats()">View Stats</button>
        <button *ngIf="finalistList.length > 1 && showFinalistStats" class="finalist-topitem-button" mat-raised-button (click)="hideFinalistStats()">Hide Stats</button>
        <span class="finalist-divider"></span>
      </div>
      <div class="finalist-stats" *ngIf="showFinalistStats">
        <p class="finalist-stats-genre"*ngFor="let genre of allGenres">
          {{ genre }}: {{ finalistGenreDict.get(genre) }}
        </p>
      </div>
      <div *ngIf="!showFinalistStats">
        <div class="finalist-item" *ngFor="let anime of finalistList; let i = index;">
          <div class="finalist-item-name">{{ anime["name"] }}</div>
          <div class="comments-chiplist">
            <mat-chip-list>
              <mat-chip class="comment-chip" *ngFor="let comment of anime['comments']">{{ comment }}</mat-chip>
            </mat-chip-list>
          </div>
          <div class="finalist-button-container">
            <button (click)="viewFinalist(i)" class="finalist-button" mat-raised-button color="primary">View</button>
            <button (click)="editComments(i)" class="finalist-button" mat-raised-button color="accent">Edit Comments</button>
            <button (click)="removeFinalist(i)" class="finalist-button" mat-raised-button color="warn">Remove</button>
          </div>
          <div class="finalist-button-container-smallscreen">
            <button class="finalist-smallscreen-action" mat-raised-button color="accent" [matMenuTriggerFor]="finalistMenu">Action</button>
            <mat-menu #finalistMenu="matMenu">
              <button class="finalist-button-smallscreen" (click)="viewFinalist(i)">View</button>
              <button class="finalist-button-smallscreen" (click)="editComments(i)">Edit Comments</button>
              <button class="finalist-button-smallscreen" (click)="removeFinalist(i)">Remove</button>
            </mat-menu>
          </div>
          <span *ngIf="finalistList.length != 1 && i != (finalistList.length - 1)" class="finalist-divider"></span>
        </div>
      </div>
    </div>
  </div>
</div>
