<div class="link-container">
  Link to the correct MAL entry to get more data:
  <br>
  <br>
  <mat-card class="link-item" *ngFor="let anime of data.suggestions; let i = index">
    <div>
      <img class="link-thumbnail" [src]="anime['thumbnail']">
      <div class="link-info">
        <div>
          <h3>{{ anime["name"] }}</h3>
        </div>
        <!-- NOTE: Keeping this here just in case the MAL API returns genres in the future -->
        <!-- <div>
        Genres:
        <mat-chip-list>
          <mat-chip *ngFor="let genre of anime['genres']">
            {{ genre }}
          </mat-chip>
        </mat-chip-list>
        </div> -->
        <div>
          MAL Rating: {{ anime["rating"] }}
        </div>
        <button class="link-button" mat-raised-button color="accent" [matDialogClose]="i">Link This Anime</button>
      </div>
    </div>
  </mat-card>
</div>
