<div class="top-wrapper">
  <h1 class="main-logo" routerLink="">Area 11</h1>
  <div class="profile-container">
    <span class="profile-username">{{ currentUser }}</span>
    <button mat-icon-button>
      <img [matMenuTriggerFor]="accountMenu" class="profile-avatar" [src]="model['avatar']" (error)="loadDefaultImage($event.target)">
    </button>
  </div>
<mat-menu [overlapTrigger]="false" #accountMenu="matMenu">
  <a class="home-menu-button" mat-menu-item routerLink="/group">
    <span>My Group</span>
  </a>
  <a class="home-menu-button" mat-menu-item routerLink="/settings">
    <span>Settings</span>
  </a>
  <button class="home-menu-button" mat-menu-item (click)="logout()">
    <span>Logout</span>
  </button>
</mat-menu>
</div>

<div class="search-toolbar">
</div>
<div class="area11-settings-toast" [ngClass]="{show: showToast, 'toast-error': toastError}">{{ toastMessage }}</div>
<mat-card class="settings-container">
  <mat-card-content>
    <form class="settings-form" #userForm="ngForm">
      <mat-form-field class="settings-input" color="accent">
        <input matInput name="bestgirl" [(ngModel)]="model.bestgirl" placeholder="Best Girl" #bestgirl="ngModel">
      </mat-form-field>
      <mat-form-field class="settings-input" color="accent">
        <input matInput name="avatar" [(ngModel)]="model.avatar" placeholder="Profile Avatar (URL)" #avatar="ngModel">
      </mat-form-field>
      <button class="save-changes-button" mat-raised-button color="accent" [disabled]="!bestgirl.dirty && !avatar.dirty" (click)="saveChanges()">Save Changes</button>
      <button class="delete-account-button" mat-raised-button color="warn" (click)="deleteAccount()">Delete Account</button>
    </form>
    <div class="user-profile">
      <img class="settings-avatar-big" [src]="model['avatar']" (error)="loadDefaultImage($event.target)">
      <h3 class="settings-avatar-name">{{ currentUser }}</h3>
    </div>
  </mat-card-content>
</mat-card>
