@import '~custom-theme.scss';
$primary: map-get($my-app-theme, primary);
$accent: map-get($my-app-theme, accent);
$warn: map-get($my-app-theme, warn);

.area11-settings-toast {
  display: none;
  background-color: mat-color($accent);
  color: #fff;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-width: 2px;
  text-align: center;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  height: 20px !important;
  z-index: 1;
  font-size: 14px;
}
.toast-error {
  background-color: mat-color($warn);
}

.area11-settings-toast.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 10px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 10px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.search-toolbar {
  width: 100%;
  color: #f0f0f0;
  vertical-align: middle;
  background-color: mat-color($primary);
  border: 1px solid #330000;
  border-width: 2px;
  height: 40px;
  line-height: 40px;
  text-shadow: 1px 1px 0 #444;
}
.home-button {
  border-radius: 50px;
  height: 20px;
  color: black;
  line-height: 20px;
  margin-left: 60px;
}
.settings-container {
  width: 750px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  height: 450px;
}
.settings-form {
  width: 45%;
  float: left;
}
.settings-input {
  width: 80%;
}
.save-changes-button {
  display: block;
  width: 50%;
  min-width: 40px !important;;
  margin-bottom: 20px;
}
.delete-account-button {
  width: 50%;
}
.user-profile {
  width: 55%;
  color: mat-color($primary);
  font-size: 45px;
  float: left;
  text-align: center;
}
.settings-avatar-big {
  width: 85%;
  height: 0;
  padding-bottom: 85%;
  background: no-repeat center/cover;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}
.settings-avatar-name {
  margin-top: -5px;
  margin-bottom: 0px;
}
.change-avatar {
  margin-top: -10px;
  text-align: center;
}
.upload-input {
  width: 50% !important;
}
.settings-loading-placeholder {
  width: 750px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
