<app-header></app-header>
<div class="search-toolbar">
</div>
<div class="area11-settings-toast" [ngClass]="{show: showToast, 'toast-error': toastError}">{{ toastMessage }}</div>
<mat-card class="settings-container">
  <mat-card-content>
    <form class="settings-form" #userForm="ngForm">
      <mat-form-field class="settings-input" color="accent">
        <input matInput name="bestgirl" [(ngModel)]="model.bestgirl" placeholder="Best Girl" #bestgirl="ngModel">
      </mat-form-field>
      <mat-form-field class="settings-input" color="accent">
        <input matInput name="avatar" [(ngModel)]="model.avatar" placeholder="Profile Avatar (URL)" #avatar="ngModel">
      </mat-form-field>
      <button class="save-changes-button" mat-raised-button color="accent" [disabled]="!bestgirl.dirty && !avatar.dirty" (click)="saveChanges()">Save Changes</button>
      <button class="delete-account-button" mat-raised-button color="warn" (click)="deleteAccount()">Delete Account</button>
    </form>
    <div class="user-profile">
      <img class="settings-avatar-big" [src]="model['avatar']" (error)="loadDefaultImage($event.target)">
      <h3 class="settings-avatar-name">{{ currentUser }}</h3>
    </div>
  </mat-card-content>
</mat-card>
